<div class="p-4 bg-dark  mt-auto shadow md:px-6 md:py-8 dark:bg-gray-800">
	<div class="sm:flex flex sm:items-center flex-wrap justify-between">
		<a href="{{path('app_index')}}" class="flex items-center mb-4 sm:mb-0">
			<img src="{{ asset('build/images/logo.png') }}" class="mr-3 opacity-50	 h-6 sm:h-9 img-logo" alt="Wild series logo">
			<span class="self-center text-2xl text-gray-500  whitespace-nowrap dark:text-white">Wild Series</span>
		</a>
		<ul class="flex flex-wrap align-center items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
			<li>
				<a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
			</li>
			<li>
				<a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
			</li>
			<li>
				<a href="#" class="mr-4 hover:underline md:mr-6 ">Licensing</a>
			</li>
			<li>
				<a href="#" class="hover:underline">Contact</a>
			</li>
		</ul>
	</div>
	<hr class="my-6 border-gray-200 sm:mx-auto opacity-50 dark:border-gray-700 lg:my-8">
	<span class="block text-sm text-gray-500 text-center sm:text-center dark:text-gray-400">© 2022
		<a href="https://github.com/trueChoan" class="hover:underline">TrueChoan™</a>. All Rights Reserved.
	</span>
</div>
