{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!
{% endblock %}

{% block body %}


	<div class="font-baloo font-bold mx-auto leading-7">
		<h1>Categories ✅</h1>
		{% for category in categories %}
			<a href="{{path('category_show', {id: category.id})}}" class="px-4 py-2 bg-green hover:bg-teal-600 text-white rounded">

				{{category.name}}
			</a>
			<h1>{{category.name}}</h1>
		{% endfor %}
	</div>
{% endblock %}
