{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}

	<div class="flex justify-around flex-wrap mx-auto lg:w-1/1">
		{% if programs is empty %}
			<h1 class="ml-10 text-dark text-4xl mb-4">Aucun résultat</h1>

		{% endif %}
		{% for program in programs %}
			{% include "include/_card.html.twig" %}
		{% endfor %}


	</div>
{% endblock %}
