{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<h1>{{ website }}
		index</h1>


	<div class="flex justify-around flex-wrap mx-auto lg:w-1/1">
		{% for program in programs %}

			{% include "include/_card.html.twig" %}
		{% endfor %}


	</div>
{% endblock %}
