{% extends "layoutEmail.html.twig" %}
{% block title %}
	{{ parent() }}
	Program
{% endblock %}
{% block body %}
	<h1>New program
		{{ program.title }}
		created</h1>
	<p>Hello, the new program
		{{ program.title }}
		has been created on Wild Series</p>
	<p>Synopsis :{{program.synopsis }}
	</p>
{% endblock %}
