{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<div class="h-screen flex flex-col items-center justify-center">
		<h1 class="text-gray-500 text-4xl mb-4">Index
			{{id}}</h1>
		<button class="px-4 py-2 bg-green hover:bg-teal-600 text-white rounded">
			Click here
		</button>
	</div>
{% endblock %}
