{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<!-- This is an example component -->
	<div class="max-w-2xl mx-auto">

		<div
			id="default-carousel" class="relative" data-carousel="static">
			<!-- Carousel wrapper -->
			<div
				class="overflow-hidden w-120 relative h-56 rounded-lg sm:h-64 xl:h-80 2xl:h-96">
				<!-- Item 1 -->
				<div class="hidden duration-700 ease-in-out" data-carousel-item>
					<span class="absolute top-1/2 left-1/2 text-2xl font-semibold text-white -translate-x-1/2 -translate-y-1/2 sm:text-3xl dark:text-gray-800">First Slide</span>
					<img src="{{asset('build/images/crown.jpg')}}" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
				</div>
				<!-- Item 2 -->
				<div class="hidden duration-700 ease-in-out" data-carousel-item>
					<img src="https://flowbite.com/docs/images/carousel/carousel-2.svg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
				</div>
				<!-- Item 3 -->
				<div class="hidden duration-700 ease-in-out" data-carousel-item>
					<img src="https://flowbite.com/docs/images/carousel/carousel-3.svg" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" alt="...">
				</div>
			</div>
			<!-- Slider indicators -->
			<div class="flex absolute bottom-5 left-1/2 z-30 space-x-3 -translate-x-1/2">
				<button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 1" data-carousel-slide-to="0"></button>
				<button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
				<button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
			</div>
			<!-- Slider controls -->
			<button type="button" class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
				<span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
					<svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
					</svg>
					<span class="hidden">Previous</span>
				</span>
			</button>
			<button type="button" class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-next>
				<span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
					<svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
					</svg>
					<span class="hidden">Next</span>
				</span>
			</button>
		</div>

		<p class="mt-5 text-white">This carousel slider component is part of a larger, open-source library of Tailwind CSS components. Learn
																																																					more
																																																					by going to the official

		</p>
	</div>
	<div class="h-screen flex flex-col items-center justify-center">
		<h1 class="text-gray-500 text-4xl mb-4">Index Hello world</h1>
		<a href="{{path('program_index')}}" class="px-4 py-2 bg-green hover:bg-teal-600 text-white rounded">
			Click here
		</a>
	</div>

	<div class="py-3 sm:max-w-xl sm:mx-auto my-20">
		<div class="bg-dark shadow-lg border-gray-100 max-h-80	 border sm:rounded-3xl p-8 flex space-x-8">
			<div class="h-48 overflow-visible w-1/2 relative">
				<div class="absolute top-0">
					<div class="flex items-center pt-2 px-5">
						{% set i = 4 %}
						{% if i>0 %}
							{% for v in range (1, i) %}
								<img class="w-5 h-5 text-yellow" src="{{asset('build/images/star.svg')}}" alt="">

							{% endfor %}
						{% endif %}
						{% set k = 5 - 4  %}
						{% if k > 0 %}
							{% for v in 1..k %}
								<img class="w-5 h-5 text-yellow" src="{{asset('build/images/grey-star.svg')}}" alt="">

							{% endfor %}
						{% endif %}
						<p class="ml-2 text-sm font-medium text-ligth-grey dark:text-gray-400">4/5</p>
					</div>
				</div>

				<img class="rounded-3xl shadow-lg" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/1LRLLWGvs5sZdTzuMqLEahb88Pc.jpg" alt="">
			</div>
			<div class="flex flex-col w-1/2 space-y-4">
				<div class="flex justify-between items-start">
					<h2 class="text-3xl text-green">Sweet Tooth: El niño ciervo</h2>

					<div class="bg-yellow font-bold rounded-xl p-2">7.2</div>
				</div>
				<div>
					<div class="text-sm text-yellow">Series</div>
					<div class="text-lg text-gray-800">2019</div>
				</div>
				<p class=" text-yellow font-baloo max-h-40 overflow-y-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<div class="flex text-2xl text-green font-bold text-a">Regarder</div>
			</div>

		</div>
	</div>
{% endblock %}
