{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}

	<div class="max-w-2xl mx-auto">
		<h1 class="h1 ml-10">Dernières sorties</h1>

		{% include "include/_carousel.html.twig" %}
	</div>
	<div class="flex flex-col items-center justify-center">
		<h1 class="text-dark text-4xl mb-4">Tous les Programmes</h1>
		<a href="{{path('program_index')}}" class="btn hover:bg-teal-600">
			Cliquez ici
		</a>
	</div>
	<div class="reco w-full bg-dark mt-10  ">

		<h1 class="h1 text-yellow text-center">Recommandations</h1>
		<div class="wrapper w-3/4 max-w-4xl  justify-center mx-auto flex flex-wrap ">

			{% for program in programs %}
				{% include "include/_card.html.twig" %}
			{% endfor %}


		</div>
	</div>
	<div class="keep-watching w-full bg-yellow">Continuer à regarder</div>
{% endblock %}
